<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schedule.mapper.StoreMapper">
        <cache/>
<select id="queryStoreList" resultType="Store">
        select * from store
</select>
        <select id="queryStoreById" resultType="com.schedule.entity.Store">
                select * from store where id = #{storeId}
        </select>
</mapper>